---
layout: default
title: Home
---

<div class="pagination">
  {% if paginator.next_page %}
    {% assign label = "Next Post" %}
    {% assign first = paginator.next_page | minus:1 | times:paginator.per_page %}
    {% assign post = site.posts[first] %}
    {% if post.title %}
       {% assign label = post.title %}
    {% endif %}
      <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">"{{ label }}"</a>
  {% else %}
    <span class="pagination-item older">Previous</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% assign label = "Previous Post" %}
  {% assign first = paginator.previous_page | minus:1 | times:paginator.per_page %}
  {% assign post = site.posts[first] %}
  {% if post.title %}
     {% assign label = post.title %}
  {% endif %}
{% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">"{{ label }}"</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">"{{ label }}"</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Next</span>
  {% endif %}
</div>

<div class="posts">
  {% assign posts_list = paginator.posts %}
  {% for post in posts_list %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/page{{ paginator.page }}">
        {{ post.title }}
      </a>
    </h1>

    {{ post.content }}
  </div>
  {% endfor %}
</div>
